.galeria {
  max-width: 1290px;
  margin: 20px 60px 20px 60px;
  padding: 20px;
  /*border: solid thin gray;*/
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.contentGaleria {
  display: flex;
  justify-content: center;
}

.galeria img {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.2s;
}

.galeria img:hover {
  transform: scale(1.05);
}

.content-img {
  margin: 10px;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.close-window-galeria {
  cursor: pointer;
  align-self: end;
  position: relative;

  height: 0px;
}

.cont-pop-galeria {
  width: 1000px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.arrow-galery {
  font-size: 70px;
  padding: 0;
  margin: 0;
  height: 450px;
  background-color: gray;
  opacity: 0.3;
  flex-basis: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.arrow-galery i {
  color: black;

  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  top: 0;
  align-self: center;
  transition: all 0.3s;

  border-radius: 70px;
  background-color: gainsboro;
}

i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.content-popup {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-popup img {
  width: 800px;
  height: 450px;
  object-fit: contain;
}

.popup {
  width: auto;
}
