:root {
  --color--all: #f7361cff;
  --color--internalizacion: #409234;
  --color--normatividad: #6e9ffa;
  --color--pimadi: #b35782;
}

html {
  scroll-behavior: smooth;
}

.main-historia-ciiemad {
  min-width: 60%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

/*Controles de la linea del tiempo */
.contenedor-controls {
  height: 0;
  width: 300px;
  position: relative;
  bottom: -300px;
  left: 100px;
  z-index: 990;
}

.control {
  margin: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}

.control p {
  margin: 0 !important;
  font-weight: bold;
}
.control i {
  cursor: pointer;
}

/*           */

.contenedor-linea-tiempo {
  background-color: #f5f5f5;

  margin: 30px 30px 50px 30px;

  height: 1100px;

  border: solid black;
  overflow: auto;

  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.contenedor-cards {
  background-color: whitesmoke;
  flex-grow: 1;
  display: flex;
}

.contenedor-barra {
  background-color: whitesmoke;

  flex-basis: 100px;
  display: flex;
  flex-direction: column;
}

.indices {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}

.barra {
  flex-basis: 50%;
}

.all-color {
  color: var(--color--all);
}

.inter {
  border: solid var(--color--internalizacion);
}

.inter-color {
  color: var(--color--internalizacion);
}

.norma {
  border: solid var(--color--normatividad);
}

.norma-color {
  color: var(--color--normatividad);
}

.pimadi {
  border: solid var(--color--pimadi);
}

.pimadi-color {
  color: var(--color--pimadi);
}

.fecha {
  margin-left: 50px;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-fecha {
  box-shadow: 2px 2px 5px black;
  background-color: white;
  cursor: pointer;
  order: 100;
  border-radius: 8px;
  width: 220px;
  height: 100px;
  display: flex;
  flex-flow: row;
}

.content-img img {
  object-fit: cover;
  width: 59px;
  height: 94px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-fecha {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content-fecha p {
  margin: 10px;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: bold;
}

.linea-fecha {
  order: 101;
  margin-top: 2px;
  width: 1px;
  height: 60px;
  border: solid black;
  border-style: dashed;
  border-width: 1px;
  margin-left: 50%;
}

.misma-fecha {
  z-index: -1;
}

/*Indice*/

.contenedor-barra {
  display: flex;
}

.content-indice {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  /*border: solid red;*/
  align-items: center;
  justify-content: center;
}

.linea-indice {
  width: 2px;
  height: 26px;
  background-color: black;
  order: 2;
}

.fecha-indice {
  text-align: center;
  width: 220px;
  order: 1;
}

.dibujo-barra {
  border-radius: 10px;
  margin: 0px 100px 0px 100px;

  height: 20px;
  background-color: black;
}
