/* Estilos propios */

.background {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  visibility: visible;
  background-size: auto;
  bottom: 0;
  right: 0;
}

.logo-ciiemad {
  border-radius: 100%;
}

.bg-IPN {
  background: rgba(104, 36, 68, 0.98);
}

.color-black * {
  color: black !important;
}

.position {
  top: 20px;
}

.contenedorGobierno {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.contenedorNavegador * {
  font-size: 20px;
  font-style: bold;
  color: white;
}

.contenedorNavegador li:hover {
  background: rgba(0, 0, 0, 0.7);
}

.contenedorEscuela {
  opacity: 0.95;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  font-family: Teko;
  color: #fff;
  background: rgb(44, 43, 43);
  z-index: 1;
}

div.conjunto {
  z-index: 2;
}
.contenedorGinda {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.contenedorFinal {
  min-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.banderin {
  border-radius: 100%px;
  background-color: gray;
  background-size: cover;
  margin: auto;
  margin-top: -9px;
  min-height: 100px;
  padding: 0;
  position: absolute;
  right: 100%;
  z-index: 10;
}

/* Banderin*/
.banderin-img {
  background-color: gray;
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 5px;
  width: 90px;
}

.abajo-Carrusel {
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.espaciosAB {
  margin-top: 40px;
  margin-bottom: 40px;
}

.espaciosID {
  margin-left: 40px;
  margin-right: 40px;
}

/*Estilso contenedor CV Decana*/

.contenedorCVDecana {
  font-size: 20px;
  min-height: 1300px;
  background-color: #fff;
}

h1.titulo {
  color: #682444;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 3rem;
  font-family: Roboto;
  box-sizing: border-box;
}

.contenedorTituloDecana {
  min-height: 180px;

  background-color: #fff;
}
.contenedorTituloGacetas {
  margin-top: 10px;
  background-color: #fff;
  padding-top: 20px;
}

.contenedorPie {
  background-color: white;
  min-height: 200px;
  display: flex;
}

div.contenedorCVDecana p {
  font-size: 2rem;
  font-family: Roboto;
  font-size: 16px;
  color: #666;

  text-align: justify;
}

.contenedorCVDecana p {
  padding-left: 20px;
  padding-right: 20px;
}

.contenedorGacetas {
  min-height: 1000px;
  background-color: #fff;
  padding-top: 20px;
}

.card p {
  text-align: justify;
}

.contenedorRuta {
  min-height: 50px;
  margin-top: 10px;
  background-color: #fff;
}
